* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    background: #c76838;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}

li a:hover {
    background: #e9ddcb;
    transition: 5s;
}

section.banner {
    background: linear-gradient(to left,  #e9ddcb,  #e9ddcb); 
    padding: 3rem 0;
}

.containerB {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.col1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBanner {
    width: 70%;
}

.col2 {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    color: #c76838;
}

#txtBanner {
    margin: 2rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;
}

.btnBanner {
    background: #c76838;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}


/*SECCIÓN NOSOTROS*/
.nosotros{
    padding:  3rem 0;
}
.subNosotros{
    text-align: center;
    padding-bottom: 2rem;
    color: #8d3113; 
}
.containerS{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
    grid-gap: 2rem;
}
.boxS{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 55px 5px rgb(0 0 0 /6%);
}
.boxS img{
    width: 100px;
}
h3{
    color: #4c4c4c;
    margin: 10px 0;
}
.boxS p{
    text-align: center;
}

/*SECCIÓN ONG*/
.organizacion{
    padding:  3rem 0;
}
.suborganizacion{
    text-align: center;
    padding-bottom: 2rem;
    color: #8d3113; 
} 
.containerP{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
    grid-gap: 2rem;
}
.boxP{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 55px 5px rgb(0 0 0 /6%);
}
.boxP img{
    width: 100px;
}
.boxP h3{
    color: #8d3113; 
    margin: 10px 0;
}
.boxP p{
    text-align: center;
}

/* Videos */
.videos {
    padding: 3rem 0;
}

.subvideos {
    text-align: center;
    padding-bottom: 2rem;
    color: #8d3113;
}

.containerV {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
}

.boxV {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporción para videos 16:9 */
    box-shadow: 0px 0px 55px 5px rgb(0 0 0 /6%);
}

.boxV iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*CONTACTO*/
.contenedor,
.wave.contenedor{
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input{
    background: transparent;
    border: 0;
    color: black;  
    outline: none;
    border: 1px solid black; 
    padding: 20px 10px;
}
.input::placeholder{
    color: #8d3113; 
    font-family: 'Raleway', sans-serif;
}
input[type="text"],
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}
.form textarea{
    width: 100%;
    margin-bottom: 15px;
}
input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}





/*Pie de Pagina - Footer*/
footer{
    background-color: #8d3113 ;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    text-align: center;

}